*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
  /* Login container styles */
  .login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* Login form styles */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    display: block;
  }
  
  .input-group input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
/* /Navbar/ */
.navbar{
    display:flex;
    justify-content:centre;
    align-items:centre;
    background-color:rgba(199, 129, 194, 0.5);
    position:sticky;
    top:0;
}
.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;
}
.navbar ul{
    font-family:century;
    font-size:1.1rem;
    font-weight:bold;
}
.navbar ul li a{
    text-decoration:none;
    color:black;
    padding:8px 25px;
    transition:all .5s ease;
}
.navbar ul li a.hover{
    background-color:white;
    color:white;
    box-shadow: 0 0 10px white;
}
/* /home section/ */
#home{
    display:flex;
    flex-direction:column;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/4620.jpg);
    background-size: cover;
    background-position: bottom;
    height:840px;
    justify-content:centre;
    align-items:centre;
    color:black;
}
#home::before{
    content:"";
    position:absoulte;
    top:0;
    right:0; 
}
.main{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    top:30%;
    right:10%
}
.headings{
    font-family:century;
    font-size:3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding:10px 35px;
    background-color:transparent;
    border:1px solid white;
    color:white;
    outline:none;
}
.btn:hover{
    cursor:pointer;
    background-color:white;
    color:black;
    box-shadow:0 0 5px white, 0 0 10 px white, 0 0 15px white;
    font-weight:bold;
}
#about{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    padding:20px;
    margin-bottom: 50px;
}
#intro{
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:10px;
}
#intro h2{
    font-size:2rem;
    margin-bottom: 20px;
}
#protofolio{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    align-items: centre;
    padding:20px;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height:240px;
    margin:10px;
}
#skills{
    display:flex;
    flex-direction:column;
    padding: 20px;

}
.row{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    margin: 10px;
    align-items: centre;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background:linear-gradient(to top,white black 50%);
    background-size:100% 200%;
}
.box:hover{
    background-position:left bottom;
    color:rgb(170, 116, 237);
    border:none;
    box-shadow:0 0 20px rgb(154, 163, 240);
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#contact{
    background: linear-gradient(137deg, #3a89d6, #9396d8b8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}